In [1]:
#pip install pandas

In [2]:
import pandas as pd

In [3]:
#series 
#shift + tab - get documentation
se = pd.Series([1.2, 1.4, 1.5, 1.6])
se

0    1.2
1    1.4
2    1.5
3    1.6
dtype: float64

In [4]:
names = ['Papa', 'Gloria', 'Justice', 'Yoofi']
ages = [20, 21, 22,23]
students = pd.Series(ages, index=names)
students

Papa       20
Gloria     21
Justice    22
Yoofi      23
dtype: int64

In [5]:
st_ages = {'Papa':20, 'Gloria':21,'Justice':22, 'Yoofi':23}
st_series = pd.Series(st_ages)
st_series

Papa       20
Gloria     21
Justice    22
Yoofi      23
dtype: int64

In [6]:
ages = {'Papa':20, 'Gloria':21,'Justice':22, 'Yoofi':23}
programs = {'Papa':'CSIS', 'Gloria':'MIS','Justice':'MIS', 'Yoofi':'CSIS'}
grades = {'Papa':90, 'Gloria':81,'Justice':79.1, 'Yoofi':94}

ai_grades = pd.DataFrame({'ages':ages, 'programs':programs, 'grades':grades})
ai_grades

         ages programs  grades
Papa       20     CSIS    90.0
Gloria     21      MIS    81.0
Justice    22      MIS    79.1
Yoofi      23     CSIS    94.0

In [7]:
ai_grades.head()

         ages programs  grades
Papa       20     CSIS    90.0
Gloria     21      MIS    81.0
Justice    22      MIS    79.1
Yoofi      23     CSIS    94.0

In [8]:
ai_grades.iloc[:2]

        ages programs  grades
Papa      20     CSIS    90.0
Gloria    21      MIS    81.0

In [9]:
ai_grades = ai_grades[ai_grades.grades<91]
ai_grades

         ages programs  grades
Papa       20     CSIS    90.0
Gloria     21      MIS    81.0
Justice    22      MIS    79.1